aclocal.m4
autom4te.cache
build-aux
configure
config.log
config.status
libtool
Makefile
Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/config.h.in
.deps
.dirstamp
.libs
*.pc
*.o
*.la
*.lo
src/builders/residfp-builder/residfp/siddefs-fp.h
src/config.h
src/stamp-h1
src/sidplayfp/sidversion.h
src/sidtune/sidplayer1.bin
src/sidtune/sidplayer2.bin
tests/*.exe
tests/*.log
tests/*.trs
libsidplayfp-*.tar.gz
