aclocal.m4
autom4te.cache
build-aux
configure
configure~
config.log
config.status
libtool
Makefile
Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/config.h.in
.deps
.dirstamp
.libs
*.pc
*.o
*.la
*.lo
*.diff
*.bin
siddefs*.h
src/config.h
src/sidplayfp/sidversion.h
src/stamp-h1
tests/*.exe
tests/*.log
tests/*.trs
libsidplayfp-*.tar.gz
*build/
