Source: sidplayfp-libs
Section: sound
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.hu>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.3

Package: libsidplayfp-dev
Section: libdevel
Architecture: any
Depends: libsidplayfp (= ${binary:Version})
Description: SID (MOS 6581) emulation library
 This is a (shared) library that implements the emulation of the C64's
 SID chip (MOS 6581) and CPU (6510). It is used by several "player"
 applications, e.g. sidplay, which make it possible to listen to *really*
 a lot (13.600+) of tunes, known from old and new C64 programs (as well
 as Amiga compositions).
 .
 Find most of the available musics from your favourite games or demos
 and more in the High Voltage SID Collection (HVSC). For downloads and
 information about the volunteers, who maintain the collection, look at
 the HVSC homepage http://www.hvsc.c64.org.

Package: libsidplayfp
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: SID (MOS 6581) emulation library
 This is a (shared) library that implements the emulation of the C64's
 SID chip (MOS 6581) and CPU (6510). It is used by several "player"
 applications, e.g. sidplay, which make it possible to listen to *really*
 a lot (13.600+) of tunes, known from old and new C64 programs (as well
 as Amiga compositions).
 .
 Find most of the available musics from your favourite games or demos
 and more in the High Voltage SID Collection (HVSC). For downloads and
 information about the volunteers, who maintain the collection, look at
 the HVSC homepage http://www.hvsc.c64.org.
