name: CI

on:
  push:
    branches:
      - master
      - libsidplayfp-2.16
  pull_request:
    branches:
      - master
      - libsidplayfp-2.16

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
        - os: ubuntu-latest
          cxxflags: -std=c++11
        - os: macos-latest
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - name: deps [Linux]
      if: runner.os == 'Linux'
      run: |
        sudo apt-get install \
          libgcrypt20-dev \
          xa65 \
          libftdi1-dev \
          libusb-1.0-0-dev
    - name: deps [macOS]
      if: runner.os == 'macOS'
      run: |
        export HOMEBREW_NO_INSTALL_CLEANUP=1
        brew update
        brew upgrade || true
        brew uninstall --ignore-dependencies --force pkg-config@0.29.2
        brew install \
          autoconf \
          automake \
          libtool \
          pkgconf \
          coreutils \
          gnu-sed \
          libgcrypt \
          xa \
          libusb \
          libftdi
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: bootstrap
      run: autoreconf -vfi
    - name: configure
      run: ./configure
    - name: make distcheck
      run: |
        [[ -n "${{ matrix.cxxflags }}" ]] && export DISTCHECK_CONFIGURE_FLAGS='CXXFLAGS="${CXXFLAGS} ${{ matrix.cxxflags }}"'
        if [ '${{ runner.os }}' == 'macOS' ]; then
          # Assumes `sed` is GNU sed:
          # sed: illegal option -- r
          export PATH="$(brew --prefix)/opt/gnu-sed/libexec/gnubin:$PATH"
        fi
        make distcheck
